@font-face {
  font-family: "Noto Sans";
  src: url(NotoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff2) format("woff2");
}

:root {
  --color-background-plain: rgb(242, 243, 243);
  --color-background-lighter: rgb(255, 255, 255);
  --color-demarcate: rgb(212, 213, 213);
  --color-highlight: rgb(232, 233, 233);
  --color-text-default: rgb(0, 0, 0);
  --color-cursor: var(--color-amazon-orange-aFtZyb);
}

.root.light {
  --color-background-plain: rgb(242, 243, 243);
  --color-background-lighter: rgb(255, 255, 255);
  --color-demarcate: rgb(212, 213, 213);
  --color-highlight: rgb(232, 233, 233);
  --color-text-default: rgb(0, 0, 0);
}

.root.dark {
  --color-background-plain: rgb(44, 41, 41);
  --color-background-lighter: rgb(55, 54, 54);
  --color-demarcate: rgb(94, 92, 92);
  --color-highlight: rgb(139, 139, 139);
  --color-text-default: rgb(255, 255, 255);
}

.material-icons {
  font-family: "Material Icons", serif;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;
}

body {
  font-family: "Noto Sans", serif;
  margin: 0;
}

.spinner {
  color: var(--color-amazon-orange-aFtZyb);
  text-align: center;
}

.root {
  background-color: var(--color-background-plain);
  color: var(--color-text-default);

  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";

  > header {
    grid-area: header;
    background-color: var(--color-background-plain);
    font-size: small;
    border-bottom: 1px solid var(--color-demarcate);
  }

  > main {
    grid-area: main;
    overflow: hidden;
    background-color: var(--color-background-plain);

    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "nav lefthandle section righthandle tools";

    > nav {
      grid-area: nav;

      overflow: auto;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "nav-header" "nav-section";
    }

    > section {
      grid-area: section;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto auto;
      grid-template-areas: "buffers" "editor" "bottomhandle" "results";

      > div#bottomhandle.resultshandle {
        grid-area: bottomhandle;
        border-bottom: 1px solid var(--color-demarcate);
        &:hover {
          grid-area: bottomhandle;
          border-bottom: 3px solid var(--color-demarcate);
        }
      }

      .close {
        background-color: var(--color-background-plain);
        color: var(--color-text-default);
        cursor: pointer;

        &:hover {
          background-color: var(--color-demarcate);
        }
      }
    }

    > div#bottomhandle.collapsed {
      display: none;
    }

    > div#tools {
      grid-area: tools;

      overflow: auto;
      margin: 0 0 0 0;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: "tools-header" "tools-section";
    }

    > div#lefthandle {
      grid-area: lefthandle;
      border-left: 1px solid var(--color-demarcate);

      &:hover {
        grid-area: lefthandle;
        border-left: 3px solid var(--color-demarcate);
      }
    }

    > div#lefthandle.collapsed {
      display: none;
    }

    > div#righthandle {
      grid-area: righthandle;
      border-right: 1px solid var(--color-demarcate);

      &:hover {
        grid-area: righthandle;
        border-right: 3px solid var(--color-demarcate);
      }
    }

    > div#righthandle.collapsed {
      display: none;
    }
  }

  > footer {
    grid-area: footer;
  }
}

nav {
  > header {
    grid-area: nav-header;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "tool-header-main tool-header-controls";
    background-color: var(--color-background-plain);
  }

  > section {
    grid-area: nav-section;
  }
}
main {
  > section {
    > ul.buffers {
      grid-area: buffers;
      margin: 0 0 0 0;
      padding: 0;
      list-style-type: none;
      background-color: var(--color-background-plain);
    }

    > div.editor {
      grid-area: editor;
      overflow: auto;
      padding: 0 0.2px 0.2px 0;

      #ace-editor {
        background-color: var(--color-background-lighter);
        color: var(--color-text-default);

        .ace_cursor {
          color: var(--color-cursor);
        }

        .ace_print-margin {
          background-color: var(--color-demarcate);
        }

        .ace_gutter {
          background-color: var(--color-background-plain);
          color: var(--color-text-default);

          .ace_gutter-active-line {
            background-color: var(--color-highlight);
            color: var(--color-text-default);
          }
        }
      }
    }

    > div.results {
      grid-area: results;
      overflow: auto;
    }

    > div#results {
      background-color: var(--color-background-lighter);
    }
  }
}

ul.buffers {
  > li {
    display: inline-block;
    padding: 0 0.2rem 0 0.2rem;
    border-right: 1px solid var(--color-demarcate);
  }
}
.handle {
  cursor: col-resize;
}
.resultshandle {
  cursor: row-resize;
}
div#tools {
  > header {
    grid-area: tools-header;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "tool-header-main tool-header-controls";
  }
  > section {
    grid-area: tools-section;
  }
}
div#results {
  > header {
    grid-area: tools-header;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "tool-header-main tool-header-controls";

    background-color: var(--color-background-plain);
  }
}

.tool-header {
  > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: small;
  }

  > ul.tool-header-main {
    grid-area: tool-header-main;

    > li {
      padding: 0 0 0 0.2rem;
    }
  }

  > ul.tool-header-controls {
    grid-area: tool-header-controls;
    display: flex;
    justify-content: flex-end;
    padding: 0.1rem;
  }
}

li.minimize {
  cursor: default;

  &:hover {
    background-color: var(--color-highlight);
  }
}

li.minimize.chosen {
  background-color: var(--color-highlight);

  &:hover {
    background-color: var(--color-highlight);
  }
}
aside.left.collapsed {
  grid-area: nav;
  background-color: var(--color-background-plain);
  font-size: small;
  border-right: 1px solid var(--color-demarcate);
}

aside.right.collapsed {
  grid-area: tools;
  background-color: var(--color-background-plain);
  font-size: small;
  border-left: 1px solid var(--color-demarcate);
}

aside.bottom.collapsed {
  grid-area: results;
  background-color: var(--color-background-plain);
  font-size: small;
  border-top: 1px solid var(--color-demarcate);
}

div#lefthandle.collapsed {
  width: 0;
  border: 0;
}

div#righthandle.collapsed {
  width: 0;
  border: 0;
}

div#bottomhandle.collapsed {
  width: 0;
  border: 0;
}

aside.collapsed {
  > ul {
    padding: 0.2rem 0.1rem 0 0.1rem;
    margin: 0;
    list-style-type: none;
    cursor: default;

    > li {
      padding: 0 0 0 0;
      writing-mode: vertical-lr;

      &:hover {
        background-color: var(--color-highlight);
      }
    }

    > li.bottom {
      padding: 0 0 0 0;
      margin: auto 90% auto auto;
      writing-mode: horizontal-tb;
    }

    > li.left {
      transform: rotate(-180deg);

      > span.left {
        padding: 0.1rem 0 0 0;
      }
    }

    > li.right {
      > span.right {
        padding: 0.1rem 0 0 0;
      }
    }
  }

  .icon {
    padding-bottom: 0.1rem;
  }
}

section.tool {
  background-color: var(--color-background-lighter);
  padding: 0 0 0 0;
  p {
    margin: 0;
    padding: 0;
  }
}

header {
  ul.breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0 0 0 0.5rem;
    list-style-type: none;

    > li {
      display: inline-block;
    }

    li.strong {
      font-weight: bold;
    }
  }
}

.Resizer {
  background: var(--color-demarcate);
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;

  &:hover {
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  }
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;

  &:hover {
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    border-right: 3px solid rgba(0, 0, 0, 0.5);
  }
}

.Resizer.disabled {
  cursor: not-allowed;

  &:hover {
    border-color: transparent;
  }
}

.action-bar {
  display: inline-flex;
  padding: 5px 15px;
}

.action-button {
  display: inline-block;
  margin-top: auto;
  margin-bottom: -4px;
  margin-left: auto;
  padding: 2px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-highlight);
  }
}

.status-bar {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Roboto";
  font-size: 9pt;
  padding: 2px;
  align-items: center;
}

.status-item {
  padding-right: 2px;
}

.query-history {
  .MuiTypography-body2 {
    font-family: "Courier New", serif;
    font-size: 8pt;
  }
}

.button-closed {
  display: none;
}

.close {
  border: rgba(0, 0, 0, 0.5);
}
