@font-face {
  font-family: "Noto Sans";
  src:  url(NotoSans-Regular.ttf) format("truetype")
}

:root {
  --tool-gray-plain: rgb(242, 243, 243);
  --tool-gray-demarcate: rgb(212, 213, 213);
  --tool-gray-lit: rgb(232, 233, 233);
}

body[data-theme="light"] {
  --tool-gray-plain: rgb(242, 243, 243);
  --tool-gray-demarcate: rgb(212, 213, 213);
  --tool-gray-lit: rgb(232, 233, 233);
}

body[data-theme="dark"] {
  --tool-gray-plain: black;
  --tool-gray-demarcate: black;
  --tool-gray-lit: black;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: "Material Icons", serif;
  font-size: medium;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: bottom;
}

body {
  font-family: "Noto Sans", serif;
  margin: 0;
}

#app {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: header;
  background-color: var(--tool-gray-plain);
  font-size: small;
  border-bottom: 1px solid var(--tool-gray-demarcate);
}

#app > main {
  grid-area: main;
  overflow: hidden;
  background-color: lightcyan;

  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "nav lefthandle section righthandle tools";
}

#app > footer {
  grid-area: footer;
}

#app > main > nav {
  grid-area: nav;

  overflow: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'nav-header'
    'nav-section';
}

nav > header {
  grid-area: nav-header;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "tool-header-main tool-header-controls";

  background-color: var(--tool-gray-plain);
}

nav > section {
  grid-area: nav-section;
}

#app > main > section {
  grid-area: section;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'buffers'
    'editor'
    'bottomhandle'
    'results';
}

main > section > ul.buffers {
  grid-area: buffers;
  margin: 0 0 0 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--tool-gray-plain);
}

ul.buffers > li {
  display: inline-block;
  padding: 0 0.2rem 0 0.2rem;
  border-right: 1px solid var(--tool-gray-demarcate);
}

main > section > div.editor {
  grid-area: editor;
  overflow: auto;
  padding: 0 0.2px 0.2px 0;
}

#app > main > section > div#bottomhandle.resultshandle {
  grid-area: bottomhandle;
  border-bottom: 1px solid var(--tool-gray-demarcate);
}

#app > main > section > div#bottomhandle.resultshandle:hover {
  grid-area: bottomhandle;
  border-bottom: 5px solid var(--tool-gray-demarcate);
}

#app > main > div#bottomhandle.collapsed {
  display: none;
}

main > section > div.results {
  grid-area: results;
  overflow: auto;
}

main > section > div#results {
  background-color: white;
}

#app > main > div#tools {
  grid-area: tools;

  overflow: auto;
  margin: 0 0 0 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'tools-header'
    'tools-section';
}

#app > main > div#lefthandle {
  grid-area: lefthandle;

  border-left: 1px solid var(--tool-gray-demarcate);
}

#app > main > div#lefthandle:hover {
  grid-area: lefthandle;
  border-left: 5px solid var(--tool-gray-demarcate);
}

#app > main > div#lefthandle.collapsed {
  display: none;
}

#app > main > div#righthandle {
  grid-area: righthandle;

  border-right: 1px solid var(--tool-gray-demarcate);
}

#app > main > div#righthandle:hover {
  grid-area: righthandle;
  border-right: 1px solid var(--tool-gray-demarcate);
}

#app > main > div#righthandle.collapsed {
  display: none;
}

.handle {
  cursor: col-resize;
}

.resultshandle {
  cursor: row-resize;
}

div#tools > header {
  grid-area: tools-header;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "tool-header-main tool-header-controls";

  background-color: rgb(242, 243, 243);
}

div#results > header {
  grid-area: tools-header;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "tool-header-main tool-header-controls";

  background-color: rgb(242, 243, 243);
}

.tool-header > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: small;
}

.tool-header > ul.tool-header-main {
  grid-area: tool-header-main;
}

.tool-header > ul.tool-header-main > li {
  padding: 0 0 0 0.2rem;
}

.tool-header > ul.tool-header-controls {
  grid-area: tool-header-controls;
  display: flex;
  justify-content: flex-end;
}

.tool-header > ul.tool-header-controls {
  padding: 0.1rem;
}

li.minimize {
  cursor: default;
}

li.minimize.chosen {
  background-color: rgb(202, 203, 203);
}

li.minimize.chosen:hover {
  background-color: rgb(202, 203, 203);
}

li.minimize:hover {
  background-color: rgb(222, 223, 223);
}

div#tools > section {
  grid-area: tools-section;
}

aside.left.collapsed {
  grid-area: nav;
  background-color: var(--tool-gray-plain);
  font-size: small;
  border-right: 1px solid var(--tool-gray-demarcate);
}

aside.right.collapsed {
  grid-area: tools;
  background-color: var(--tool-gray-plain);
  font-size: small;
  border-left: 1px solid var(--tool-gray-demarcate);
}

aside.bottom.collapsed {
  grid-area: results;
  background-color: var(--tool-gray-plain);
  font-size: small;
  border-top: 1px solid var(--tool-gray-demarcate);
}

div#lefthandle.collapsed {
  width: 0;
  border: 0;
}

div#righthandle.collapsed {
  width: 0;
  border: 0;
}

div#bottomhandle.collapsed {
  width: 0;
  border: 0;
}

aside.collapsed > ul {
  padding: 0.2rem 0.1rem 0 0.1rem;
  margin: 0;
  list-style-type: none;
  cursor: default;
}

aside.collapsed > ul > li {
  padding: 0 0 0 0;
  writing-mode: vertical-lr;
}

aside.collapsed > ul > li.bottom{
  padding: 0 0 0 0;
  margin: auto 90% auto auto;
  writing-mode: horizontal-tb;
}

aside.collapsed > ul > li.left {
  transform: rotate(-180deg);
}

aside.collapsed > ul > li.left > span.left {
  padding: 0.1rem 0 0 0;
}

aside.collapsed > ul > li.right > span.right {
  padding: 0.1rem 0 0 0;
}

aside.collapsed .icon {
  padding-bottom: 0.1rem;
}

aside.collapsed > ul > li:hover {
  background-color: var(--tool-gray-lit);
}

section.tool {
  background-color: white;
  padding: 0 0 0 0;
}

section.tool p {
  margin: 0;
  padding: 0;
}

header ul.breadcrumb {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 0.5rem;
  list-style-type: none;
}

header ul.breadcrumb > li {
  display: inline-block;
}

header ul.breadcrumb li.strong {
  font-weight: bold;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-right: 3px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.action-bar {
  display: inline-flex;
  padding: 5px 15px;
}

.action-button {
  display: inline-block;
  margin-top: auto;
  margin-bottom: -4px;
  margin-left: auto;
  padding: 2px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #d1d1d1;
}

.status-bar {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Roboto";
  font-size: 9pt;
  padding: 2px;
  align-items: center;
}

.status-item {
  padding-right: 2px;
}

.query-history .MuiTypography-body2 {
  font-family: "Courier New", serif;
  font-size: 8pt;
}

.button-closed {
  display: none;
}

.close {
  border:rgba(0, 0, 0, 0.5);
}
